<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>
<% if @team.photo.exists? then %>
<p><%= image_tag @team.photo.url(:thumb) %></p>
<% else %>
<p> There are no photo's attached, upload one. </p>
<% end %>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
