<h2>  Your tips for this week. </h2>
<% if @comp %>
<%= hidden_field_tag(:comp_id, @comp.id) %>
<% end %>

  <% @tips.each do |tip| %>
  <div class="game-head">
  
	<div class="team-left">
	<%= image_tag tip.game.teamA.photo.url(:thumb) %>
	<div class="team-name"> <%= tip.game.teamA.name %></div>
	</div>
	
	<div class="team-right">
	<%= image_tag tip.game.teamB.photo.url(:thumb) %>
	<div class="team-name"> <%= tip.game.teamB.name %></div>
	</div>

  </div>
   <% if tip.team %>
   <div class="game-choice show">
  <span> Your selection : <%= tip.team.name%> </span>
  
  </div>
	<% end %>
  
	
	<% end %>
	


