
<% if @comp %>
<%= hidden_field_tag(:comp_id, @comp.id) %>
<% end %>

  <% @tips.each do |tip| %>
  <div class="game-head">
  
	<div class="team-left">
	<%= image_tag tip.game.teamA.photo.url(:thumb) %>
	<div class="team-name"> <%= tip.game.teamA.name %></div>
	</div>
	
	<div class="team-right">
	<%= image_tag tip.game.teamB.photo.url(:thumb) %>
	<div class="team-name"> <%= tip.game.teamB.name %></div>
	
	</div>


  </div>

  
	
	<% end %>
	


