<p id="notice"><%= notice %></p>

<p>
  <b>Result:</b>
  <%= @game.result %>
</p>

<p>
  <b>TeamA:</b>
  <%= @game.teamA.name %>
</p>
<p>
  <b>TeamB:</b>
  <%= @game.teamB.name %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
