
<ul class="nav">
  
    <li>
    <%= link_to("Competition", "/competition") %>
    </li>
    <li>
    <%= link_to("Leaderboards", "/leaderboards") %>
    </li>
	<li>
    <%= link_to('How to enter', '/howto') %>
    </li>
	<li>
    <%= link_to('T&C', '/terms') %>
    </li>
	<li>
    <%= link_to('Betin', '/betin') %>
    </li>
</ul>